
.colorteste{
    background: #5CC6BA;
}

.center{
    text-align: center;
}

.containerSistema{
    width: 90% ;
    margin: 0 auto;
}

.AdicionarExame{
    background: #72B5A4;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

.BuscarExame{
    width: 300px;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    font-weight: bolder;
    font-size: 13px;
    color: #595757;
}

.totalExames{
    color: #323434;
    font-weight: bolder;
    text-align: center;
}
.linkNavbar{
    color: white;
}
.borderNavBar{
    border: 1px solid #72B5A4;
}
.linkNavbar:hover{
    color: #72B5A4;
}
.logo{
    color: #72B5A4;
}

.TitlePage{
    color: #72B5A4;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.buttonHover{
    border: 1px solid #72B5A4;
    color: #72B5A4;
}
.buttonHover:hover{
    background: #72B5A4;
    color: white;
}

.flex1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.divInfosExame{

    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.bgNavBar{
    margin: 0 auto;!important;
    background: #595757;
}

.borderNota{
    border:1px solid gray;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.teste{
    width: 100%;
    height: 100vh;
}
.titulo{
    font-size: 25px;
    font-weight: bolder;
}

.MostrarArquivoDiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorValidation{
    color: red;
    font-size: 13px;
}

@media screen and (max-width: 600px){
    .inputSistema{
        background: #e6e6e6;
        display: block;
        width: 100%;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }
}

@media screen and (min-width: 600px){
    .inputSistema{
        background: #e6e6e6;
        width: 500px;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }
    .displayFlex{
        display: flex;
        justify-content: center;
    }
}
.divExames{
    background: #e6e6e6;
    border-radius: 10px;
    color: #595757;
    margin-top: 15px;
    padding: 15px;
    width: 400px;
}
.bottonExame{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 70px;
    background: #595757;
}

.pages{
    width: 70px;
    border-radius: 10px;
    padding: 2px;
}

.tamanhoDivHome{
    width: 650px;
}

.titleHome{
    font-size: 35px;
    font-weight: bolder;
    color: #7c7a7a;
}

.linkAvaliar{
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    background: #5CC6BA;
    border-radius: 10px;
    font-size: 17px;
}
